<stache
  pageTitle="Edit button"
  navTitle="Edit button"
  showTableOfContents="true">

  <stache-page-summary>
    <p>
      The edit button facilitates contributions by adding a link to the repository on each page in your site. This feature is enabled globally, but you can opt out on individual pages.
    </p>

    <h3>
      Edit button properties
    </h3>

    <ul>
      <li>
        <p>
          <sky-code>showEditButton</sky-code> — When you enable the edit button for the entire site in <sky-code>appSettings</sky-code>, all pages will then display the edit button. To disable the edit button for a single page, add this flag to the Stache wrapper on that page and set it to false.
        </p>
      </li>
    </ul>

    <h3>
      Enable the edit button
    </h3>
    <p>
      The edit button is not enabled by default. To enable the edit button, add <sky-code>editButton</sky-code> to your <sky-code>skyuxconfig.json</sky-code> file under <sky-code>"appSettings": "stache":</sky-code>.
    </p>

    <sky-code-block languageType="json">
      "appSettings": {
        "stache": {
          "editButton": {
            "url": "URL to your repository",
            "text": "The text for your edit button. The default is 'Edit'"
          }
        }
      }
    </sky-code-block>
  </stache-page-summary>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>

  <div class="stache-demo-page-result">
    <stache-edit-button></stache-edit-button>
  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>

  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab tabHeading="appSettings">
        <sky-code-block languageType="json">
          "appSettings": {
            "stache": {
              "editButton": {
                "url": "https://github.com/blackbaud/stache2-docs"
              }
            }
          }
        </sky-code-block>
      </sky-tab>
      <sky-tab tabHeading="Stache wrapper">
        <sky-code-block>
        &lt;stache showEditButton="false">
        &lt;/stache>
        </sky-code-block>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
