<stache
  pageTitle="Text Expand"
  navTitle="Text expand"
  showTableOfContents="true">

  <stache-page-summary>
    <p><a href="https://developer.blackbaud.com/skyux2/components/text-expand">This SKY UX component</a> truncates long text with an ellipsis and a link that allows the user to fully expand the text. If the text length falls below the specified threshold, then no action is taken.</p>

      <p><a href="https://developer.blackbaud.com/skyux2/components/text-expand"><img src="https://img.shields.io/badge/SKY%20UX-component-brightgreen.svg"></a></p>

    <h3>Text expand properties</h3>
    <ul>
      <li><stache-code>text</stache-code> — The text to truncate. </li>
      <li><stache-code>maxLength</stache-code> — <em>(Optional)</em> The number of characters to show before truncating the text. To avoid truncating text in the middle of a word, the directive looks for a space in the 10 characters before the last character (default: 200).</li>
      <li><stache-code>maxExpandedLength</stache-code> — <em>(Optional)</em> The maximum number of characters to show in the inline expanded view. If the text includes more characters, then a modal view with the content will be displayed when the 'See more' link is clicked (default: 600). </li>
      <li><stache-code>expandModalTitle</stache-code> — <em>(Optional)</em> The title to display in the modal expanded view (default: Expanded View).</li>
    </ul>
    <h3>text expand repeater properties</h3>
    <ul>
      <li><stache-code>data</stache-code> — The data to truncate.</li>
      <li><stache-code>maxItems</stache-code> — The number of items from the data to display before truncating.</li>
    </ul>
  </stache-page-summary>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>

  <div class="stache-demo-page-result">
<h3>Text expand</h3>
<sky-text-expand text="Lucas ipsum dolor sit amet moff jade padmé wampa solo chewbacca vader dagobah dooku jabba. Lando palpatine organa c-3p0 leia solo fisto organa. Qui-gonn qui-gonn kashyyyk lando leia mon maul ben. Bothan sidious antilles utapau owen dooku hoth hutt. Wedge moff moff jabba hutt lars. Darth organa windu solo lars moff. Utapau windu calrissian han sebulba. Gamorrean qui-gon jade jar antilles cade moff biggs calrissian. Anakin moff wookiee dantooine. Mara aayla organa skywalker ventress kamino windu ventress sith."></sky-text-expand>
<h3>Text expand modal view</h3>
<sky-text-expand expandModalTitle="Star Wars Ipsum" text="Lucas ipsum dolor sit amet ewok tatooine windu binks darth organa darth bothan organa luke. Bothan hoth mace alderaan wampa solo. Wicket lando wedge owen wampa vader. Bothan endor moff amidala jabba. Moff kenobi darth luke skywalker. Yoda qui-gonn maul ponda luke calamari. Solo owen jango boba utapau. Yavin moff chewbacca darth ackbar vader. Leia ackbar kashyyyk kenobi tatooine yavin. Maul binks leia qui-gon leia ahsoka hutt fett skywalker. Fett skywalker lobot ben mace sidious organa alderaan.

Mara tusken raider darth aayla anakin greedo. Ackbar organa droid aayla chewbacca. Ponda endor fett moff. Wedge luke hutt tusken raider c-3po. Tatooine mon solo baba wookiee utapau jade ewok. Mothma solo sebulba c-3p0 ben. Darth moff yoda grievous hutt jar anakin. Calrissian tatooine mon organa sidious leia ben moff. Leia watto bothan mothma r2-d2 hutt kenobi leia kamino. Dagobah ewok padmé wampa. Aayla mandalorians darth owen. Kit tatooine solo lobot dagobah han calrissian skywalker ventress. Ahsoka tusken raider ackbar darth moff windu antilles hutt.

Solo kenobi obi-wan darth luke darth fett organa. Obi-wan luke grievous mon mara darth organa thrawn. Hutt grievous solo tatooine solo yavin hutt jabba. Mace kit ackbar jango sidious coruscant kenobi fisto fett. Ackbar hoth darth ventress ahsoka darth yoda hutt. Sebulba darth darth organa naboo darth jade. Skywalker solo antilles palpatine windu ben endor wampa grievous. Sidious moff mara moff chewbacca aayla hutt. Darth darth aayla mace skywalker solo. Cade hutt organa windu watto skywalker solo kessel moff."></sky-text-expand>

<h3>Text expand repeater</h3>
<sky-text-expand-repeater maxItems="3" [data]="['Yoda', 'Mace Windu', 'Qui-Gon Jinn', 'Obi-Wan Kenobi', 'Luke Skywalker']"></sky-text-expand-repeater>
  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>

  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab tabHeading="text expand">
        <stache-code-block languageType="markup">
          <sky-text-expand text="Lucas ipsum dolor sit amet moff jade padmé wampa solo chewbacca vader dagobah dooku jabba. Lando palpatine organa c-3p0 leia solo fisto organa. Qui-gonn qui-gonn kashyyyk lando leia mon maul ben. Bothan sidious antilles utapau owen dooku hoth hutt. Wedge moff moff jabba hutt lars. Darth organa windu solo lars moff. Utapau windu calrissian han sebulba. Gamorrean qui-gon jade jar antilles cade moff biggs calrissian. Anakin moff wookiee dantooine. Mara aayla organa skywalker ventress kamino windu ventress sith.">
          </sky-text-expand>
        </stache-code-block>
      </sky-tab>
      <sky-tab tabHeading="text expand modal view">
        <stache-code-block languageType="markup">
          <sky-text-expand expandModalTitle="Star Wars Ipsum" text="Lucas ipsum dolor sit amet ewok tatooine windu binks darth organa darth bothan organa luke. Bothan hoth mace alderaan wampa solo. Wicket lando wedge owen wampa vader. Bothan endor moff amidala jabba. Moff kenobi darth luke skywalker. Yoda qui-gonn maul ponda luke calamari. Solo owen jango boba utapau. Yavin moff chewbacca darth ackbar vader. Leia ackbar kashyyyk kenobi tatooine yavin. Maul binks leia qui-gon leia ahsoka hutt fett skywalker. Fett skywalker lobot ben mace sidious organa alderaan.

          Mara tusken raider darth aayla anakin greedo. Ackbar organa droid aayla chewbacca. Ponda endor fett moff. Wedge luke hutt tusken raider c-3po. Tatooine mon solo baba wookiee utapau jade ewok. Mothma solo sebulba c-3p0 ben. Darth moff yoda grievous hutt jar anakin. Calrissian tatooine mon organa sidious leia ben moff. Leia watto bothan mothma r2-d2 hutt kenobi leia kamino. Dagobah ewok padmé wampa. Aayla mandalorians darth owen. Kit tatooine solo lobot dagobah han calrissian skywalker ventress. Ahsoka tusken raider ackbar darth moff windu antilles hutt.

          Solo kenobi obi-wan darth luke darth fett organa. Obi-wan luke grievous mon mara darth organa thrawn. Hutt grievous solo tatooine solo yavin hutt jabba. Mace kit ackbar jango sidious coruscant kenobi fisto fett. Ackbar hoth darth ventress ahsoka darth yoda hutt. Sebulba darth darth organa naboo darth jade. Skywalker solo antilles palpatine windu ben endor wampa grievous. Sidious moff mara moff chewbacca aayla hutt. Darth darth aayla mace skywalker solo. Cade hutt organa windu watto skywalker solo kessel moff.">
        </sky-text-expand>
        </stache-code-block>
      </sky-tab>
      <sky-tab tabHeading="text expand repeater">
        <stache-code-block languageType="markup">
          <sky-text-expand-repeater
          maxItems="3" [data]="['Yoda', 'Mace Windu', 'Qui-Gon Jinn', 'Obi-Wan Kenobi', 'Luke Skywalker']">
          </sky-text-expand-repeater>
        </stache-code-block>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
