<stache
  pageTitle="Hero"
  showTableOfContents="true">

  <stache-page-summary>
    <p>
      The hero component adds a hero with a background image, title, and subheading information to your {{ stache.jsonData.global.productNameShort }} page.
    </p>

    <sky-alert
      alertType="info">
      You need to use this component <b>outside</b> of the <sky-code>stache</sky-code> tag.
    </sky-alert>

    <h3>
      Hero properties
    </h3>

    <ul>
      <li>
        <sky-code>overlayOpacity</sky-code>  —
        Decimal value for how much your image should be darkened. The default is <sky-code>0.4</sky-code>, acceptable values are any decimal between <sky-code>0</sky-code> and <sky-code>1</sky-code>.
      </li>
      <li>
        <sky-code>backgroundImageUrl</sky-code>  —
        Set this to the name of your image, prepended with
        <sky-code>~/assets&#x200B;/</sky-code>, e.g.: <sky-code>~/assets&#x200B;/foo.jpg</sky-code>.  All images and other static assets should be stored in the <sky-code>src/assets</sky-code> directory.
      </li>
          <ul>
    <li>
      <i class="fa fa-folder"></i> src
      <ul>
        <li>
          <i class="fa fa-folder"></i> assets
          <ul>
            <li>
              <i class="fa fa-file-image-o"></i> hero.jpg
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
    </ul>

  </stache-page-summary>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>

  <div class="stache-demo-page-result">
    <sky-hero
      overlayOpacity="0.4"
      backgroundImageUrl="~/assets/hero-sample-1.jpg">
      <sky-hero-heading>
        Demo Hero
      </sky-hero-heading>
      <sky-hero-subheading>
        Hero demo subheading information.
      </sky-hero-subheading>
    </sky-hero>
  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>

  <sky-tabset>
    <sky-tab
      tabHeading="sample">
      <sky-code-block
        languageType="markup">
        <sky-hero
          overlayOpacity="0.4"
          backgroundImageUrl="~/assets&#x200B;/image-name.jpg">
          <sky-hero-heading>
            Demo Hero
          </sky-hero-heading>
          <sky-hero-subheading>
            Hero demo subheading information.
          </sky-hero-subheading>
        </sky-hero>
      </sky-code-block>
    </sky-tab>
  </sky-tabset>
</stache>
