<app-nav></app-nav>
<stache
  pageTitle="Code Block"
  layout="sidebar"
  showBreadcrumbs="true">
  <stache-page-summary>
    The code block component displays a formatted block of code with syntax highlighting.

    <h3>Code Block properties</h3>
    <ul>
      <li>
        <stache-code>code</stache-code> — <i>(Optional.)</i> Pass a code sample into the component. You must use the raw loader for the code to render it as a string.
      </li>
      <li>
        <stache-code>languageType</stache-code> — <i>(Optional.)</i> The language of the code sample for syntax highlighting. You can see the supported languages <a href="http://prismjs.com/#languages-list">here</a>. The default is <stache-code>markup</stache-code>.
      </li>
    </ul>
  </stache-page-summary>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>
  <div class="stache-demo-page-result">
    <stache-code-block languageType="js">
      $(document).ready(() => {
        console.log('jQuery is ready!');
      });
      <p>Hey! {{name}}</p>
    </stache-code-block>
  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>
  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab [tabHeading]="'code-block-demo-component.html'">
        <stache-code-block languageType="markup">
          <stache-code-block languageType="js">
            $(document).ready(() => {
              console.log('jQuery is ready!');
            });
            <p>Hey! {{name}}</p>
          </stache-code-block>
        </stache-code-block>
      </sky-tab>
      <sky-tab [tabHeading]="'code-block-property-demo.component.html'">
        <stache-code-block languageType="markup">
          <stache-code-block code="sample" languageType="js">
          </stache-code-block>
        </stache-code-block>
      </sky-tab>
      <sky-tab [tabHeading]="'code-block-property-demo.component.ts'">
        <stache-code-block languageType="typescript">
          import { Component } from '@angular/core';

          @Component({
            selector: 'stache-code-block-demo',
            templateUrl: 'code-block-propersk-demo.component.html'
          })
          export class StacheActionButtonsDemoComponent {
            public sample = require('!!raw-loader!./code-block-property-demo.component.html');
          }
        </stache-code-block>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
