<stache
  pageTitle="Code block"
  navTitle="Code block"
  showTableOfContents="true">


  <stache-page-summary>
    <p>
      <a href="https://developer.blackbaud.com/skyux/components/code-block"><img src="https://img.shields.io/badge/SKY%20UX-component-brightgreen.svg"></a>
    </p>
    <p>
      The <a href="https://developer.blackbaud.com/skyux/components/code-block">SKY UX code block component</a> enables you to format a block of text as a code snippet with syntax highlighting. To create a code snippet, wrap <sky-code>sky-code-block</sky-code> tags around the code block. The code block also has a header that displays a copy button and, if defined, the language type. To format shorter code snippets within larger blocks of text, we recommend you use the <a stacheRouterLink="/components/code">code component</a> instead.
    </p>

    <sky-alert alertType="info">
      If a code block has text within <sky-code><</sky-code> and <sky-code>></sky-code> characters, then the component automatically appends a closing tag unless the code snippet is valid HTML. To prevent this, you must use <sky-code>&#38;lt;</sky-code> to escape <sky-code><</sky-code> and <sky-code>&#38;gt;</sky-code> to escape <sky-code>></sky-code>.
    </sky-alert>
  </stache-page-summary>

  <h3>
    Code block properties
  </h3>

  <ul>
    <li>
      <sky-code>hideCopyToClipboard</sky-code> — <i>(Optional)</i> Indicates whether to hide the copy to clipboard button in the code block header. The default is <sky-code>false</sky-code>.
    </li>
    <li>
      <sky-code>languageType</sky-code> — <i>(Optional)</i> Indicates the language of the code sample. The language type is used to highlight the syntax in your code sample and appears in the header. The default language is <sky-code>markup</sky-code>. For a list of languages you can use, see the <a stacheRouterLink="https://developer.blackbaud.com/skyux/components/code-block" fragment="supported-languages">Supported languages</a> list.
    </li>
    <li>
      <sky-code>hideHeader</sky-code> — <i>(Optional)</i> Indicates whether to hide the header portion of the code block. If the <sky-code>languageType</sky-code> is not declared and <sky-code>hideCopyToClipboard</sky-code> is set to <sky-code>true</sky-code>, the header is hidden. The default is <sky-code>false</sky-code>.
    </li>
    <li>
      <sky-code>fileName</sky-code> – <i>(Optional)</i> Adds a filename to the code block header.
    </li>
  </ul>


<stache-page-anchor>
  Installation
</stache-page-anchor>
  <p>
    SPAs can use this as a standalone module by setting it up as a dependency.
  </p>
  <p>
    <b class="sky-text-info">Note:</b> Most Stache SPAs already have this module installed for you. To confirm, make sure <sky-code>@blackbaud/skyux-lib-code-block</sky-code> is listed in the <sky-code>package.json</sky-code> file.
  </p>
  <ol>
    <li>
      <p>
        To install the package and plugin as part of your SPA's dependencies run the following command from your SPA's root directory.
      </p>
      <sky-code-block>
        npm install @blackbaud/skyux-lib-code-block --save --save-exact
      </sky-code-block>

      <sky-code-block>
        npm install @blackbaud/skyux-builder-plugin-code-block --save --save-exact
      </sky-code-block>
    </li>
    <li>
      <p>
        Add the module to your <strong>app-extras.module.ts</strong> file.
      </p>
      <sky-code-block hideCopyToClipboard="true">
          import { SkyCodeBlockModule } from '@blackbaud/skyux-lib-code-block';

          @NgModule({
            exports: [
              SkyCodeBlockModule
            ]
          })
          export class AppExtrasModule { }
      </sky-code-block>
    </li>
    <li>
      <p>
        Add the plugin to your <strong>skyuxconfig.json</strong> file.
      </p>
      <sky-alert
        alertType="warning">
        To use the code block in markdown components, Stache include files, or global/json data, you must load the <sky-code>skyux-builder-plugin-code-block</sky-code> <strong> plugin after</strong> the <sky-code>skyux-builder-plugin-stache</sky-code> plugin.
      </sky-alert>
      <sky-code-block>
        {
          "name": "stache",
          "mode": "easy",
          "compileMode": "aot",
          "plugins": [
            "@blackbaud/skyux-builder-plugin-stache",
            "@blackbaud/skyux-builder-plugin-code-block"
          ],
        }
      </sky-code-block>
    </li>
  </ol>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>

  <div class="stache-demo-page-result">
    <sky-code-block
      languageType="javascript">
      $(document).ready(() => {
        console.log('jQuery is ready!');
      });
    </sky-code-block>

    <sky-code-block
      languageType="JSON"
      hideHeader="true">
      Code block with the header hidden.
      {
        "demo": "demo content"
      }
    </sky-code-block>
  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>

  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab
        tabHeading="sample">
        <sky-code-block
          languageType="javascript">
          <sky-code-block
            languageType="javascript">
            $(document).ready(() => {
              console.log('jQuery is ready!');
            });
          </sky-code-block>

          <sky-code-block
            languageType="json"
            hideHeader="true">
            Code block with the header hidden.
            {
              "demo": "demo content"
            }
          </sky-code-block>
        </sky-code-block>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
