<app-nav></app-nav>
<stache
  pageTitle="Page Header"
  layout="sidebar"
  showBreadcrumbs="true">
  <stache-page-summary>
    The Page Title component displays the title of the page as an H1 tag.
  </stache-page-summary>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>
  <div class="stache-demo-page-result">
    <stache-page-title>
      Title!
    </stache-page-title>
  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>
  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab tabHeading="page-title-demo-component.html">
        <stache-code-block languageType="markup">
          <stache-page-title>
            Title!
          </stache-page-title>
        </stache-code-block>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
