<app-nav>
</app-nav>

<stache
  pageTitle="Page Header">

  <stache-page-summary>
    <p>
      The Page Header component displays a consistent header on every page. Typically, this contains the <stache-code>stache title</stache-code>.
    </p>
  </stache-page-summary>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>

  <div class="stache-demo-page-result">
    <stache-page-header>
      <stache-page-title>
        Title!
      </stache-page-title>
    </stache-page-header>
  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>

  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab
        tabHeading="page-header-demo-component.html">
        <stache-code-block
          languageType="markup">
          <stache-page-header>
            <stache-page-title>
              Title!
            </stache-page-title>
          </stache-page-header>
        </stache-code-block>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
