<stache
  pageTitle="Buttons"
  showTableOfContents="true">

  <stache-page-summary>
    <p>
      <a href="https://developer.blackbaud.com/skyux/components/button"><img src="https://img.shields.io/badge/SKY%20UX-component-brightgreen.svg"></a>
    </p>
    <p>
      <a href="https://developer.blackbaud.com/skyux/components/button">The SKY UX button classes</a> create buttons to trigger actions.
    </p>

  </stache-page-summary>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>

  <div class="stache-demo-page-result">
      <button type="button" class="sky-btn sky-btn-primary">Primary</button>
      <button type="button" class="sky-btn sky-btn-default">Secondary</button>

  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>

  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab tabHeading="sample">
        <sky-code-block languageType="markup">
          <button type="button" class="sky-btn sky-btn-primary">Primary</button>

          <button type="button" class="sky-btn sky-btn-default">Secondary</button>
        </sky-code-block>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
