<stache
  showTableOfContents="true"
  pageTitle="Configuration and Data"
  navTitle="Configuration and data">

  <stache-page-summary>
    Data and configuration settings are an important feature of your documentation site. This section outlines how to use data in your documentation and how to properly configure your {{ stache.jsonData.global.productNameShort }} site.
  </stache-page-summary>

  <stache-page-anchor>
    JSON data service
  </stache-page-anchor>

  <p>
    {{ stache.jsonData.global.productNameShort }} can consume JSON data files and provide them for use in {{ stache.jsonData.global.productNameShort }} templates and components. You can use the default <sky-code>global.json</sky-code> file to include variable data. For example, you can add a variable for your site name and use it anywhere the name appears. If the name changes, you only have to edit the <sky-code>global.json</sky-code> file.
  </p>

  <p>
    Place data to consume in the <sky-code>src/stache/data/</sky-code> directory. For example:
  </p>

  <ul>
    <li>
      <i class="fa fa-folder"></i> src
      <ul>
        <li>
          <i class="fa fa-folder"></i> stache
          <ul>
            <li>
              <i class="fa fa-folder"></i> data
              <ul>
                <li>
                  <i class="fa fa-file"></i> example.json
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <sky-alert alertType="warning">
    Make sure filenames can be converted to valid object keys. For example: <sky-code>data_file.json</sky-code> or <sky-code>dataFile.json</sky-code>.</sky-alert>
  </sky-alert>


  <p>
    You can then use that data in a template:
  </p>

  <sky-code-block
    languageType="markup">
    <p>{{ stache.jsonData.example.key }}</p>
  </sky-code-block>

  <h3>
    Build time parsing
  </h3>
  <p>
    To parse variable data at build time instead of run time, such as inside a <a routerLink="content/code-block"><sky-code>sky-code-block</sky-code></a> or as an attribute value, you need to add the <sky-code>@buildtime:</sky-code> flag to your variable binding.
  </p>
  <h4>
    In a <sky-code>sky-code-block</sky-code>:
  </h4>

  <sky-code-block
    languageType="markup">
     {&#123; @buildtime:stache.jsonData.global.productNameShort }} will render.

    {{ stache.jsonData.global.productNameShort }} will not.
  </sky-code-block>
  <h4>
    As an attribute:
  </h4>
  <sky-code-block languageType="markup">
    &lt;stache
      pageTitle="{&#123; @buildtime:stache.jsonData.global.productNameShort }} Title">
    &lt;/stache>
  </sky-code-block>

  <stache-page-anchor>
    Data in a component
  </stache-page-anchor>
  <p>
    To use data in a component, add the <sky-code>StacheJsonDataService</sky-code> to the component.
  </p>

  <sky-code-block
    languageType="typescript">
    import { Component, OnInit } from '@angular/core';
    import { StacheJsonDataService } from '@blackbaud/skyux-lib-stache';

    @Component({
      selector: 'my-component',
      template: './my-component.component.html'
    })
    export class MyComponent implements OnInit {

      public allData: any;
      public specificData: any;

      constructor(
        private dataService: StacheJsonDataService
      ) { }

      ngOnInit() {
        this.allData = this.dataService.getAll();
        this.specificData = this.dataService.getByName('example');
      }
    }
  </sky-code-block>

  <h3>
    Data service methods
  </h3>

  <p>
    The <sky-code>StacheJsonDataService</sky-code> provides several methods to access JSON data within components.
  </p>
  <p>
    Sample file structure:
  </p>
  <ul>
    <li>
      <i class="fa fa-folder"></i> data
      <ul>
        <li>
          <i class="fa fa-folder"></i> example
          <ul>
            <li>
              <i class="fa fa-folder"></i> nested
              <ul>
                <li>
                  <p>
                    <i class="fa fa-file"></i> second_nested.json
                  </p>
                  <sky-code-block
                    hideHeader="true"
                    hideCopyToClipboard="true">
                    {
                      "name": "Deep nest",
                      "array_items": [
                        {
                          "name": "array item 1"
                        },
                        {
                          "name": "array item 2"
                        }
                      ]
                    }
                  </sky-code-block>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <p>
        <sky-code>getAll()</sky-code> &mdash; Returns all data in the {{ stache.jsonData.global.productNameShort }} JSON data.
      </p>
      <sky-code-block hideCopyToClipboard="true">
        this.dataService.getAll();
      </sky-code-block>
    </li>
    <li>
      <p>
        <sky-code>getByName(name: string)</sky-code> &mdash; Returns the {{ stache.jsonData.global.productNameShort }} JSON data that matches the name. This method expects a string <sky-code>name</sky-code> for the data to retrieve. To retrieve nested data from the JSON structure, separate each name with a <sky-code>.</sky-code>.
      </p>
      <sky-code-block hideCopyToClipboard="true">
        this.dataService.getByName('example');

        this.dataService.getByName('example.nested.secondNested');

        this.dataService.getByName('example.nested.secondNested.array_items.1.name');
      </sky-code-block>
    </li>
    <li>
      <p>
        <sky-code>getNestedData(keys: string[])</sky-code> &mdash; Returns the {{ stache.jsonData.global.productNameShort }} JSON data that matches the keys. This method expects a string array of <sky-code>keys</sky-code> for the data to retrieve.
      </p>
      <sky-code-block hideCopyToClipboard="true">
        this.dataService.getNestedData(['example', 'nested', 'secondNested']);

        this.dataService.getNestedData(['example', 'nested', 'secondNested', 'array_items', '1', 'name']);
      </sky-code-block>
    </li>
  </ul>

  <stache-page-anchor>
    Configuration
  </stache-page-anchor>

  <p>
    App-specific configuration exists in the <sky-code>skyuxconfig.json</sky-code> file at the root of your project. This file should only contain app-specific settings that are required for the functionality of your site, such as keys for Google Analytics or plugins. To use variables in your app content, place them in the <sky-code>global.json</sky-code> file or a custom <sky-code>.json</sky-code> file. The {{ stache.jsonData.global.productNameShort }} template provides a location under <sky-code>appSettings</sky-code> for {{ stache.jsonData.global.productNameShort }}-specific settings.
  </p>

  <sky-code-block
    languageType="json">
    {
      "mode": "easy",
      "compileMode": "aot",
      "auth": true,
      "plugins": [
        "@blackbaud/skyux-builder-plugin-stache",
        "@blackbaud/skyux-builder-plugin-auth-email-whitelist"
      ],
      "app": {
        "title": "Stache Template"
      },
      "appSettings": {
        "stache": { }
      }
    }
  </sky-code-block>

</stache>
