<app-nav>
</app-nav>
<stache
  pageTitle="Components"
  layout="container">

  <stache-page-summary>
    <p>
      The following Angular 2 components, services, and modules facilitate abstractions that are built into {{ stache.jsonData.global.productNameShort }}. They can be used independently, but they are not a public part of the {{ stache.jsonData.global.productNameShort }} content creation library.
    </p>
  </stache-page-summary>

  <stache-contribute-components>
  </stache-contribute-components>
</stache>
