<stache
  pageTitle="Manual routing"
  showTableOfContents="true">

  <stache-page-summary>
    In Angular, if you require custom breadcrumbs or navigation, you can override the Stache breadcrumbs and SKY UX navigation and provide custom, manual routing for a page or section of your SPA.
  </stache-page-summary>



  <stache-page-anchor>
    Demo
  </stache-page-anchor>

  <h3>
    Breadcrumbs
  </h3>

  <h3>
    Sidebar navigation
  </h3>

    <stache-page-anchor>
    Code
  </stache-page-anchor>

  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab tabHeading="sample">
        <sky-code-block languageType="markup">
</stache>
