<stache
  pageTitle="Image"
  showTableOfContents="true">

  <stache-page-summary>
    <p>
      The image component provides a responsive container to display an image. To display images on your {{ stache.jsonData.global.productNameShort }} site, add them to the <sky-code>src/assets</sky-code> directory in the source folder.
    </p>
    <ul>
      <li>
        <i class="fa fa-folder"></i> src
        <ul>
          <li>
            <i class="fa fa-folder"></i> assets
            <ul>
              <li>
                <i class="fa fa-file"></i> image-name.jpg
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <p>
      If your Stache site requires a lot of image files, we recommend you organize the images into subfolders by page name.
    </p>
    <p>
      After the images are in place, you can reference them in your {{ stache.jsonData.global.productNameShort }} pages. You must reference every image with the <sky-code>~/assets&#x200B;/</sky-code> prefix in order for SKY UX to register it as a static asset and render it.
    </p>

    <h3>
      Image properties
    </h3>

    <ul>
      <li>
        <sky-code>imageSource</sky-code> — The path to the image to render.
      </li>
      <li>
        <sky-code>imageAlt</sky-code> — The alt tag to describe the image for accessibility.
      </li>
      <li>
        <sky-code>caption</sky-code> — (<i>Optional</i>) Adds a caption below the image.
      </li>
    </ul>

  </stache-page-summary>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>

  <div class="stache-demo-page-result">
    <sky-image
      caption="Let's hit the open road together!"
      imageAlt="This is an example hero."
      imageSource="~/assets/hero-sample-1.jpg">
    </sky-image>
  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>

  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab
        tabHeading="sample">
        <sky-code-block
          languageType="markup">
         &lt;stache-image
            caption="Let's hit the open road together!"
            imageAlt="This is an example hero."
            imageSource="&#126;&#47;assets&#47;image-name.jpg"&gt;
          &lt;&#47;stache-image&gt;
        </sky-code-block>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
