<app-nav>
</app-nav>

<stache
  pageTitle="Page Summary"
  layout="sidebar"
  showBreadcrumbs="true">

  <stache-page-summary>
    <p>
      The page summary component provides a formatted section at the top of the page for summary content.
    </p>
  </stache-page-summary>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>

  <div class="stache-demo-page-result">
    <stache-page-summary>
      This is an example of a summary.
    </stache-page-summary>
  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>

  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab
        tabHeading="page-summary-demo-component.html">
        <stache-code-block
          languageType="markup">
          <stache-page-summary>
            This is an example of a summary.
          </stache-page-summary>
        </stache-code-block>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
