<stache
  showEditButton="false"
  pageTitle="Components"
  navTitle="Components"
  layout="container">

  <stache-page-summary>
    <p>
      To create high-quality technical documentation, use the following Stache and SKY UX components. For SKY UX components, you can navigate to the SKY UX site for more technical and design guidance.
    </p>
    <sky-alert alertType="warning">
      <stache-include
        fileName="localization-required.html">
      </stache-include>
    </sky-alert>
  </stache-page-summary>

  <component-directory></component-directory>

</stache>
