@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/v4-shims.css");

.highlight-columns {
  .stache-column {
    background-color: lighten(#23c6c8, 30%);
    border: 1px solid lighten(#23c6c8, 15%);
    overflow-wrap: break-word;
  }
}


//CSS

.text-center {
    align-items: center;
    text-align: center;
}

.image-border {
  .stache-image-object {
    border: 1px solid #cdcfd2;
  }
}

.retina-screenshot {
  max-width: 65%;
  height: auto;
}

.sky-tile {
    margin-top: 5px;
  }

  kbd {
    background-color: #292b2c;
    color: #ffffff;
    padding: 3px;
    font-size: 90%;
    border-radius: .2em;
}

.basics-well {
  padding: 10px 10px 0px 10px;
  background-color: #f3f3f4;
  display: flex;
  flex-direction: column;
  border: 1px solid #cccccc;
}

#hero-over-ride {
  /deep/
  .stache-hero {
    @media (min-width: 992px) {
      background-position-y: -150px;
    }

    @media (min-width: 1200px) {
      background-position-y: -230px;
    }

    @media (min-width: 1500px) {
      background-position-y: -320px;
    }

    @media (min-width: 1800px) {
      background-position-y: -360px;
    }
  }
}

.secondary-bgd {
  padding-top: 50px;
  padding-bottom: 50px;
}
