.highlight-columns {
  .stache-column {
    background-color: lighten(#23c6c8, 30%);
    border: 1px solid lighten(#23c6c8, 15%);
    overflow-wrap: break-word;
  }
}


//CSS

.text-center {
    align-items: center;
    text-align: center;
}

img {
  border: 1px solid #cccccc;
}

