.highlight-columns {
  .stache-column {
    background-color: lighten(#23c6c8, 30%);
    border: 1px solid lighten(#23c6c8, 15%);
    overflow-wrap: break-word;
  }
}


//CSS

.text-center {
    align-items: center;
    text-align: center;
}

.stache-image-object {
  border: 1px solid #cccccc;
}

.sky-tile {
    margin-top: 5px;
  }


.basics-well {
  padding: 10px 10px 0px 10px;
  background-color: #f3f3f4;
  display: flex;
  flex-direction: column;
  border: 1px solid #cccccc;
}

#hero-over-ride {
  /deep/
  .stache-hero {
    @media (min-width: 992px) {
      background-position-y: -150px;
    }

    @media (min-width: 1200px) {
      background-position-y: -230px;
    }

    @media (min-width: 1500px) {
      background-position-y: -320px;
    }

    @media (min-width: 1800px) {
      background-position-y: -360px;
    }
  }
}
