<stache
  pageTitle="Copy to Clipboard"
  navTitle="Copy to clipboard"
  layout="sidebar"
  showTableOfContents="true">

  <stache-page-summary>
    <p>
      <a href="https://github.com/blackbaud/skyux-lib-clipboard"><img src="https://img.shields.io/badge/SKY%20UX-component-brightgreen.svg"></a>
    </p>
    <sky-alert alertType="warning">
      The <sky-code>stache-clipboard</sky-code> component was contributed to SKY UX as a standalone module and is <strong>deprecated</strong> in Stache version 2.15.0 and higher. To automatically update your site to use the new component, update Stache to version 3.0.0 or higher. Learn how with the <a stacheRouterLink="/learn/update-stache">Update Stache</a> documentation.
    </sky-alert>
    <p>
      The copy to clipboard component creates a button on your page that enables users to copy the content to their computer's clipboard.
    </p>
  </stache-page-summary>

  <h3>
    Copy to clipboard properties
  </h3>

  <ul>
    <li>
      <p>
        <sky-code>copyTarget</sky-code> — Specifies content to copy.
      </p>
      <p>
          This property binds data, so you must use brackets to evaluate the template expression: <sky-code>[copyTarget]</sky-code>. Without the brackets, Angular treats the value as a string and initializes the target property with the string value instead of evaluating the data value.
      </p>
    </li>
    <li>
      <sky-code>buttonText</sky-code> — <i>(Optional)</i> Specifies a label for the copy to clipboard button.
    </li>
    <li>
      <sky-code>buttonClickedText</sky-code> — <i>(Optional)</i> Specifies a label to display on the copy to clipboard button after users click it.
    </li>
  </ul>

  <h3>
    Add copy to clipboard to a page
  </h3>

  <ol>
    <li>
      <p>
        To use the component, wrap text in an HTML element. <b>Example:</b> <sky-code escapeCharacters="true">&lt;div>Very special text&lt;/div></sky-code> tag
      </p>
    </li>
    <li>
      <p>
        Specify an <sky-code escapeCharacters="true">#identifier</sky-code> for that element. <b>Example:</b> <sky-code escapeCharacters="true">&lt;div #awesomesauce>Very special text&lt;/div></sky-code>
      </p>
    </li>
    <li>
      <p>
        Place a <sky-code>sky-copy-to-clipboard</sky-code> element on the page and specify the content to copy by referencing its <sky-code escapeCharacters="true">#identifier</sky-code> in the <sky-code>copyTarget</sky-code> attribute. <b>Example:</b> <sky-code escapeCharacters="true"><sky-copy-to-clipboard [copyTarget]="awesomesauce"></sky-copy-to-clipboard></sky-code>
      </p>
    </li>
    <li>
      When a user clicks the copy to clipboard button, the component copies the text to the user's clipboard with formatting intact. To help users know that the copy button worked, you can specify different labels for before and after the users click the button.
    </li>
  </ol>


<stache-page-anchor>
  Installation
</stache-page-anchor>
  <p>
    SPAs can use this as a standalone module by setting it up as a dependency.
  </p>
  <p>
    <b class="sky-text-info">Note:</b> Most Stache SPAs already have this module installed for you. To confirm, make sure <sky-code>@blackbaud/skyux-lib-clipboard</sky-code> is listed in the <sky-code>package.json</sky-code> file.
  </p>
  <ol>
    <li>
      <p>
        To install the package as part of your SPA's dependencies run the following command from your SPA's root directory.
      </p>
      <sky-code-block>
        npm install @blackbaud/skyux-lib-clipboard --save --save-exact
      </sky-code-block>
    </li>
    <li>
      <p>
        Add the module to your <strong>app-extras.module.ts</strong> file.
      </p>
      <sky-code-block hideCopyToClipboard="true">
          import { SkyClipboardModule } from '@blackbaud/skyux-lib-clipboard';

          @NgModule({
            imports: [
              SkyClipboardModule
            ],
            exports: [
              SkyClipboardModule
            ],
            providers: [
            ],
            entryComponents: []
          })
          export class AppExtrasModule { }
      </sky-code-block>
    </li>
  </ol>


  <stache-page-anchor>
    Demo
  </stache-page-anchor>

  <div class="stache-demo-page-result">
    <div #divReference>
      <h3>
        Ctrl + C
      </h3>
      <p>
        Text within a div element to copy to the clipboard!
      </p>
    </div>
    <sky-copy-to-clipboard buttonText="Copy" buttonClickedText="Copied!" [copyTarget]="divReference"></sky-copy-to-clipboard>

    <div style="padding-top: 30px;">
      <b>Paste Here:</b><br/>
      <textarea rows="5" style="width:100%;"></textarea>
    </div>
  </div>


  <stache-page-anchor>
    Code
  </stache-page-anchor>

  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab
        tabHeading="sample">
        <sky-code-block
          languageType="markup">
          &lt;div #divReference&gt;
            &lt;h3>
              Ctrl + C
            &lt;/h3>
            &lt;p>
              Text within a div element to copy to the clipboard!
            &lt;/p>
        &lt;/div&gt;
        <sky-copy-to-clipboard buttonText="Copy" buttonClickedText="Copied!" [copyTarget]="divReference"></sky-copy-to-clipboard>
        </sky-code-block>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
