<stache
  pageTitle="Markdown"
  showTableOfContents="true">

  <stache-page-summary>
    <p>
      The Markdown component enables users to write Markdown in their HTML files. Within the <sky-code>stache-markdown</sky-code> tags, users can mix Markdown and HTML elements to create documentation with Markdown without losing out on {{ stache.jsonData.global.productNameLong }} features.
    </p>

    <h3>
      Stache-specific Markdown
    </h3>
    <ul>
      <li>
        Page anchors — The <sky-code>##</sky-code> syntax creates an <sky-code>h2</sky-code> heading with a <a routerLink="/components/page-anchor">Stache page anchor</a> around it, and adds the heading to the table of contents. To create a regular <sky-code>h2</sky-code>, simply use the HTML <sky-code escapeCharacters="true"><h2></sky-code> tags.
      </li>
      <li>
        Code snippets — The <sky-code>`</sky-code> syntax creates a <a routerLink="/components/code">code snippet</a>. To use the <sky-code>escapeCharacters</sky-code> attribute escape special characters, you must use the actual <sky-code>sky-code</sky-code> element.
      </li>
      <li>
        Code blocks — The <sky-code>```</sky-code> syntax creates a <a routerLink="/components/code-block">code block</a>. You can specify a language directly after the opening <sky-code>```</sky-code>. For example, <sky-code>```json</sky-code> creates a <sky-code>sky-code-block</sky-code> element with the <sky-code>languageType</sky-code> attribute set to <sky-code>json</sky-code>.
      </li>
    </ul>
    <p class="sky-text-warning">
      To use code snippets and code blocks, the <sky-code>SkyCodeBlockModule</sky-code> needs to be installed and exported by your app-extras module. To learn how, see the <a routerLink="/components/code">code</a> and <a routerLink="/components/code-block">code block</a> component pages.
    </p>
  </stache-page-summary>

<h3>Best Practices</h3>
<p>To ensure your content displays correctly, avoid using the following components within the <sky-code>stache-markdown</sky-code> tags.</p>
  <ul>
    <li>Cards</li>
    <li>Code block</li>
    <li>Grid</li>
    <li>Includes (the component renders except when the content includes the code block component)</li>
    <li>Page summary</li>
    <li>Text expand</li>
  </ul>
<p>We recommend you close the Markdown component before using the components listed above to avoid issues. You can always add a new Markdown tag if you want to continue writing in Markdown after the Stache component.</p>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>

  <div class="stache-demo-page-result">
    <stache-markdown>
### Stache now supports Markdown!

<stache-blockquote
  author="Reluctant engineer faced with an enormous amount of work">
  Lots of content on a Stache 1 site, and we've been dragging our feet a bit on migrating due to lack of Markdown support.
</stache-blockquote>
#### Dear Reluctant engineer faced with an enormous amount of work,

*We heard you, and we are here to help! With the <sky-code escapeCharacters="true"><stache-markdown></sky-code> tags, we can save you time copying over all that Markdown!*

<stache-blockquote
  author="Doesn’t want to tell his team that they have to give up Markdown">
  I would love to migrate our Stache site to Stache 2, but I think something that really works for our team is the simple Markdown experience. From my understanding, Stache 2 does not have baked-in support for Markdown.
</stache-blockquote>

#### Dear Doesn’t want to tell his team that they have to give up Markdown,

*Now we do! We hope this Markdown experience helps you and your team come to love {{ stache.jsonData.global.productNameLong }}.*

```js
function doesSupportMarkdown() {
  if (stache.supportsMarkdown) {
    return 'Yes we do!'
  }
}
```
    </stache-markdown>
  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>

  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab tabHeading="sample">
        <sky-code-block languageType="markup">
&#60;stache-markdown&#62;
  ### Stache now supports Markdown!

  <stache-blockquote author="Reluctant engineer faced with an enormous amount of work">
    Lots of content on a Stache 1 site, and we've been dragging our feet a bit on migrating due to lack of Markdown support.
  </stache-blockquote>

  #### Dear Reluctant engineer faced with an enormous amount of work,

  *We heard you, and we are here to help! With the <sky-code escapeCharacters="true"><stache-markdown></sky-code> tags, we can save you time copying over all that Markdown!*

  <stache-blockquote author="Doesn’t want to tell his team that they have to give up markdown">
    I would love to migrate our Stache site to stache v2, but I think something that really works for our team is the simple Markdown experience. From my understanding, Stache 2 does not have baked-in support for Markdown.
  </stache-blockquote>

  #### Dear Doesn’t want to tell his team that they have to give up Markdown,

  *Now we do! We hope this Markdown experience helps you and your team come to love {{ stache.jsonData.global.productNameLong }}.*

  ```js
function doesSupportMarkdown() {
  if (stache.supportsMarkdown) {
    return 'Yes we do!'
  }
}
  ```
&#60;&#47;stache-markdown&#62;
        </sky-code-block>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
