<stache
  pageTitle="Tabs"
  showTableOfContents="true">

  <stache-page-summary>
    <p><a href="https://developer.blackbaud.com/skyux2/components/tabs">This SKY UX component</a> renders a tabset for your page.</p>

      <p><a href="https://developer.blackbaud.com/skyux2/components/tabs"><img src="https://img.shields.io/badge/SKY%20UX-component-brightgreen.svg"></a></p>

    <h3>Tab properties</h3>
    <ul>
      <li>
        <p><stache-code>tabHeading</stache-code> — The text that appears on the tab.</p>
      </li>
      <li>
        <p><stache-code>tabHeaderCount</stache-code> — <em>(Optional)</em> Displays a counter alongside the tab header. Can provide secondary information, such as time.
      </li>
    </ul>
  </stache-page-summary>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>

  <div class="stache-demo-page-result">
    <sky-tabset>
      <sky-tab tabHeading="tab">
        <p>Tab content goes here. </p>
      </sky-tab>
      <sky-tab tabHeading="tabby">
      <sky-code-block languageType="markup">
      Tabs can be great when you need to provide multiple code samples, like we do on this site.
      </sky-code-block>
      </sky-tab>
      <sky-tab tabHeading="tabbying" tabHeaderCount="5">
        <p>You can optionally provide a header count for the tab.</p>
      </sky-tab>
    </sky-tabset>
  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>

  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab tabHeading="sample">
        <sky-code-block languageType="markup">
        <sky-tabset>
          <sky-tab tabHeading="tab">
            <p>Tab content goes here. </p>
          </sky-tab>
          <sky-tab tabHeading="tabby">
          <sky-code-block languageType="markup">
          Tabs can be great when you need to provide multiple code samples, like we do on this site.
          </sky-code-block>
          </sky-tab>
          <sky-tab tabHeading="tabbying" tabHeaderCount="5">
            <p>You can optionally provide a header count for the tab.</p>
          </sky-tab>
        </sky-tabset>
        </sky-code-block>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
