<stache
  pageTitle="Search" navTitle="Search" showTableOfContents="true">



<stache-page-summary>
  <p>
    This component is for Blackbaud staff only.
  </p>
    <p *skyRestrictedView>
      The Stache Search Query Service leverages the Blackbaud omnibar's search capabilities to search for content within Blackbaud Stache sites. To search across all search-enabled Stache sites, use <a href="https://docs.blackbaud.com">docs.blackbaud.com</a>.
    </p>
  </stache-page-summary>
<stache-hide-from-search>
<div *skyRestrictedView>
  <stache-page-anchor>
    Set up
  </stache-page-anchor>

  <h3>
    Determine your search endpoint
  </h3>

  <p>
    The Stache Search Query Service provides two primary endpoints: <sky-code>suggest</sky-code> and <sky-code>search</sky-code>. The <sky-code>search</sky-code> endpoint enforces a strict word and character match between search text and values on a Stache site. The <sky-code>suggest</sky-code> endpoint is more flexible and returns partial matches. For example, when search text includes multiple words, the search returns matches for each word.
  </p>

  <p>
    In the example below, each search endpoint returns different results.
  </p>
  <sky-code-block hideCopyToClipboard="true">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Repudiandae impedit doloremque libero laborum aliquid temporibus,
    laboriosam cum expedita, inventore pariatur tenetur magnam,
    facilis molestias ducimus blanditiis?
    Veritatis a aliquid eveniet!
  </sky-code-block>

  <p>
    If users search for "labor" with the <sky-code>search</sky-code> endpoint, the search does not return results because there is not an exact match.
  </p>

  <p>
    If users search for "labor" with the <sky-code>suggest</sky-code> endpoint, the search returns two results because the text includes two partial matches: "laborum" and "laboriosam".
  </p>

  <p>
    We recommend you consider which endpoint is best for you when you configure your search settings. It is our recommendation that you use the <sky-code>suggest</sky-code> endpoint, unless you require more strict matching.
  </p>

  <h3>Configure your search settings</h3>
  <p>
    To configure search, open the <sky-code>skyuxconfig.json</sky-code> file and edit the <sky-code>omnibar</sky-code> configuration option's <sky-code>searchUrl</sky-code> setting. The <sky-code>searchUrl</sky-code> setting adds the search field to the omnibar.
  </p>

  <h4>Recommended setting</h4>
  <p>
    We recommend you use <sky-code>suggest-internal</sky-code> and set <sky-code>searchUrl</sky-code> to <sky-code escapeCharacters="true">"searchUrl": "https://stache-search-query.sky.blackbaud.com/suggest-internal/&lt;Site Name}",</sky-code>.
  </p>

  <h4>Alternative setting</h4>
  <p>
    To use the <sky-code>search</sky-code> endpoint, set <sky-code>searchUrl</sky-code>to <sky-code>https://stache-search-query.sky.blackbaud.com/search-internal/&lt;site-name&gt;</sky-code>.
  </p>

  <h4>Site name setting</h4>
  <p>
    Replace <sky-code>&lt;site-name&gt;</sky-code> with the site name that appears after <sky-code>https://docs.blackbaud.com</sky-code> or <sky-code>https://host.nxt.blackbaud.com</sky-code> in your SPA’s URL. You can also find the site name in your build definition in Azure as the <sky-code>SPAId</sky-code> variable.
  </p>

  <h4>
    Non-authenticated sites
  </h4>
  <p>
    For public-facing sites, remove <sky-code>-internal</sky-code> from your search endpoint.
  </p>

  <h3>
    Internal vs. external sites
  </h3>
  <p>
    Stache sites are configured to be internal-only by default. This means that you must log in as a Blackbaud employee with your Blackbaud email address to see the search results for your site. This prevents public-facing sites such as SKY UX and Stache from searching your site and displaying content to an inappropriate audience. If you require that your Stache site be available to a general public audience without authentication, see the <a stacheRouterLink="/learn/golive">Go live</a> instructions.
  </p>

  <stache-page-anchor>Sample setup</stache-page-anchor>

  <p>
    As a reference, here's how a <sky-code>skyuxconfig.json</sky-code> file looks with search enabled for an internal site.
  </p>
  <h3>
    Setup with Blackbaud authentication
  </h3>
  <sky-code-block languageType="json">
    "omnibar": {
      "experimental": true,
      "nav": {
        "services": [
          {
            "title": "Stache 2 Example",
            "searchUrl": "https://stache-search-query.sky.blackbaud.com/suggest-internal/stache-example",
            "items": [
              {
                "title": "Home",
                "route": "/"
              }
            ]
          }
        ]
      }
    }
  </sky-code-block>

  <h3>
    Setup without Blackbaud authentication
  </h3>
  <sky-code-block languageType="json">
    "omnibar": {
      "experimental": true,
      "nav": {
        "services": [
          {
            "title": "Stache 2 Example",
            "searchUrl": "https://stache-search-query.sky.blackbaud.com/suggest/stache-example",
            "items": [
              {
                "title": "Home",
                "route": "/"
              }
            ]
          }
        ]
      }
    }
  </sky-code-block>

  <stache-page-anchor>
    Additional configuration options
  </stache-page-anchor>

  <p>
    To configure variables for the search commands, open the <sky-code>skyuxconfig.json</sky-code> file and add <sky-code>searchConfig</sky-code> beneath <sky-code>stache</sky-code> under <sky-code>appSettings</sky-code>.
  </p>

  <p>
    The example below displays the default configuration after you enable search for your site. To override a setting, modify the variables defined below.
  </p>

  <sky-code-block languageType="json">
    "appSettings": {
      "stache": {
        "searchConfig": {
          "allowSiteToBeSearched": true,
          "is_globally_searchable": true,
          "is_internal": true,
          "site_names": [
            "cool-mustaches-docs",
            "fancy-mustaches-docs"
          ]
        }
      }
    }
  </sky-code-block>

  <h3>
    <sky-code>allowSiteToBeSearched</sky-code>
  </h3>

  <p>
     This setting determines whether a site is searchable. The default value is <sky-code>true</sky-code>. When set to <sky-code>false</sky-code>, the property turns off search for your site and prevents the site from being scraped and publishing results.
  </p>

  <h3>
    <sky-code>is_globally_searchable</sky-code>
  </h3>

  <p>
    This setting determines whether the site is included on the global search page. The default is <sky-code>true</sky-code>. When set to <sky-code>false,</sky-code> your site content appears only when searched for by site name and does not appear on the <a href="https://docs.blackbaud.com/">global docs search</a> page.
  </p>

  <h3>
    <sky-code>is_internal</sky-code>
  </h3>

  <p>
    This setting indicates whether a Stache site is internal. The default is <sky-code>true</sky-code>. When set to <sky-code>false</sky-code>, the site's search content displays for non-Blackbaud employees.
  </p>

  <sky-alert alertType="info">
    By default, Stache sites are configured for internal Blackbaud employee users only. Unless your site needs to be public, we recommend using the internal-only configuration.
  </sky-alert>

  <h3>
    <sky-code>site_names</sky-code>
  </h3>

  <p>
    This setting determines the Stache sites to include in the search results. The default setting includes only the site you are viewing. When you add other site names to the array, the content from the additional sites becomes searchable. For example, the Engineering System site includes the <sky-code>engineering-system-docs</sky-code> Stache site and many related Stache sites that are linked to from the Engineering System documentation.
  </p>
  <p>
    To add site names, find the site's URL and use the part the appears after <sky-code>https://docs.blackbaud.com/skyux-spa-</sky-code>.
  </p>


  <stache-page-anchor>
    Update search for public site
  </stache-page-anchor>

  <p>
    Open the <sky-code>skyuxconfig.json</sky-code> file, remove <sky-code>-internal</sky-code> from your search endpoint, and update the <sky-code>appSettings</sky-code> option to <sky-code>"is_internal": false</sky-code>. If your public site includes internal sites in the <sky-code>site_names</sky-code> setting, the search results only include internal sites when a user is logged in with BBID.
  </p>

  <sky-code-block languageType="json">
    "appSettings": {
      "stache": {
        "searchConfig": {
          "is_internal": false
        }
      }
    }
  </sky-code-block>

  <stache-page-anchor>
    Hide sections and pages from search
  </stache-page-anchor>

  <p>
    When search is enabled, the e2e build phase of the VSTS pipeline scrapes every page for content. To exclude portions of a page from the scraping process, wrap the content to exclude in a <sky-code>stache-hide-from-search</sky-code> element. To exclude an entire page, wrap all of the markup, including the <sky-code>stache</sky-code> tag, in a <sky-code>stache-hide-from-search</sky-code> element.
  </p>

  <sky-code-block
    languageType="markup">
    <stache-hide-from-search>
      <p>
        This content will not appear in the search results.
      </p>
    </stache-hide-from-search>

    <p>
      This content will appear in the search results.
    </p>
  </sky-code-block>

  <stache-page-anchor>
    Analytics
  </stache-page-anchor>

  <p>
    The Stache Search Query Service uses Mixpanel to track search events. To access this information for your Stache site, <a stacheRouterLink="https://developer.blackbaud.com/stache/support">contact the Stache team</a> to be added to the Mixpanel project.
  </p>
  <p>
    The Mixpanel search event contains the following properties to sort and filter on.
  </p>
  <ul>
    <li>
      <sky-code>Action</sky-code> — Indicates the action performed. The <sky-code>search</sky-code> endpoint uses "run," and the <sky-code>suggest</sky-code> endpoint uses "suggest."
    </li>
    <li>
      <sky-code>InternalRequest</sky-code> — Indicates whether the search request came from a user authenticated with BBID.
    </li>
    <li>
      <sky-code>SearchText</sky-code> — Indicates the text entered in the query.
    </li>
    <li>
      <sky-code>SiteNames</sky-code> — Indicates the array of sites included in the search request.
    </li>
  </ul>
  <sky-code-block hideCopyToClipboard="true">
    "Search Event": {
      "Action": "run",
      "InternalRequest": false,
      "SearchText": "Foo",
      "SiteNames": ["stache", "sky-ux"]
    }
  </sky-code-block>
</div>
</stache-hide-from-search>
</stache>
