<stache
  showTableOfContents="true"
  pageTitle="Layout">

<stache-page-summary>
  {{ stache.jsonData.global.productNameShort }} layouts enable consistent formatting for your content. You specify the layout with the <a stacheRouterLink="/components/wrapper">stache wrapper's</a> <stache-code>layout</stache-code> property. Swapping layouts is as simple as updating the property with a new layout name. Three different layouts are available:
</stache-page-summary>

<stache-page-anchor>
  Sidebar
</stache-page-anchor>
<sky-key-info>
  <sky-key-info-label>
    Default
  </sky-key-info-label>
</sky-key-info>

  <sky-code-block>
    <stache
      pageTitle="My Sample Page"
      navOrder="5"
      layout="sidebar">
      // Your content here.
    </stache>
  </sky-code-block>

  <p>
    The sidebar layout is the default {{ stache.jsonData.global.productNameShort }} layout. It adds side navigation on the left side of the page. This is useful for quickly navigating between sibling and child content within your site. {{ stache.jsonData.global.productNameShort }} automatically populates the routes in the sidebar based on the directory structure of your project. For example, a {{ stache.jsonData.global.productNameShort }} project with the following structure:
  </p>

  <ul>
    <li><i class="fa fa-folder"></i> learn
      <ul>
        <li><i class="fa fa-folder"></i> basics</li>
      </ul>
    </li>
    <li><i class="fa fa-folder"></i> components</li>
    <li><i class="fa fa-folder"></i> contribute</li>
  </ul>

  <p>
    Would have a sidebar like this:
  </p>

  <sky-row>
    <sky-column screenSmall="2">
      <stache-sidebar
        [routes]="[
          {
            path: '/learn',
            name: 'Learn',
            children: [
              {
                path: '/basics',
                name: 'Basics'
              }
            ]
          },
          {
            path: '/components',
            name: 'Components'
          },
          {
            path: '/contribute',
            name: 'Contribute'
          }
        ]">
      </stache-sidebar>
    </sky-column>
  </sky-row>


  <p>
    The sidebar navigation displays child pages for the current page. It hides all other child pages until the route is active.
  </p>

  <p>
    The <stache-code>navOrder</stache-code> attribute on the <stache-code>stache</stache-code> tag determines the order the routes in the sidebar navigation. If <stache-code>navOrder</stache-code> is not specified or sibling routes have the same <stache-code>navOrder</stache-code> value, then the sidebar displays routes alphabetically by name.
  </p>

<stache-page-anchor>
  Container
</stache-page-anchor>

<sky-key-info>
  <sky-key-info-label>
    Optional
  </sky-key-info-label>
</sky-key-info>

  <sky-code-block>
    <stache
      pageTitle="My Sample Page"
      layout="container">
      // Your content here.
    </stache>
  </sky-code-block>

  <p>
    The container layout provides a responsive container for content based on the <a routerLink="/components/grid">{{ stache.jsonData.global.productNameShort }} grid</a>.
  </p>

<stache-page-anchor>
  Blank
</stache-page-anchor>
<sky-key-info>
  <sky-key-info-label>
    Optional
  </sky-key-info-label>
</sky-key-info>

  <sky-code-block>
    <stache
      pageTitle="My Sample Page"
      layout="blank">
      // Your content here.
    </stache>
  </sky-code-block>

  <p>
    The blank layout provides no formatting for content. This allows you to do whatever you want inside of the container and still take advantage of the <stache-code>stache</stache-code> tag.
  </p>


</stache>
