<app-nav></app-nav>
<stache
  pageTitle="Container">
  <stache-page-summary>
    The container component wraps content in a stache container for formatting.
  </stache-page-summary>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>
  <div class="stache-demo-page-result">
    <stache-container>
      Here is some content! It's in a container!
    </stache-container>
  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>
  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab tabHeading="container-demo-component.html">
        <stache-code-block languageType="markup">
          <stache-container>
            Here is some content! It's in a container!
          </stache-container>
        </stache-code-block>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
