  <sky-navbar>
    <div class="sky-container">
    <sky-navbar-item>
        <a routerLink="/">Home</a>
      </sky-navbar-item>
     <sky-navbar-item>
        <sky-dropdown trigger="hover">
      <sky-dropdown-button>
        Learn
      </sky-dropdown-button>
      <sky-dropdown-menu>
        <sky-dropdown-item>
          <a routerLink="/learn/get-started/">Getting Started</a>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <a routerLink="/learn/basics/">Basics</a>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <a routerLink="/learn/add-stache/">Add Stache</a>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <a routerLink="/learn/update-stache/">Update Stache</a>
        </sky-dropdown-item>
                <sky-dropdown-item>
          <a routerLink="/learn/plugins/">Plugins</a>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </sky-navbar-item> 
        <sky-navbar-item>
        <a routerLink="/content/">Content</a>
      </sky-navbar-item>
        <sky-navbar-item>
        <a routerLink="/api/">API</a>
      </sky-navbar-item>
       <sky-navbar-item>
        <sky-dropdown trigger="hover">
          <sky-dropdown-button>
          Support
          </sky-dropdown-button>
        <sky-dropdown-menu>
        <sky-dropdown-item>
          <a routerLink="/support/">Contact Us</a>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <a routerLink="/support/changelog/">Changelog</a>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <a routerLink="/support/contribute/">Contribute</a>
        </sky-dropdown-item>
      </sky-dropdown-menu>
      </sky-dropdown>
         </sky-navbar-item> 
    </div>
  </sky-navbar>
