<stache
  pageTitle="Cards"
  showTableOfContents="true">

<stache-page-summary>
  <p>
    <a href="https://developer.blackbaud.com/skyux/components/card"><img src="https://img.shields.io/badge/SKY%20UX-component-brightgreen.svg"></a>
  </p>
  <p>
    The <a href="https://developer.blackbaud.com/skyux/components/card">SKY UX card component</a> creates a small container to highlight important information. Generally, multiple cards are organized together to display information about a collection of related items, like a matrix of images.
  </p>
 </stache-page-summary>

  <h3>Card properties</h3>
  <ul>
    <li>
      <sky-code>size</sky-code> — <em>(Optional)</em> Specifies the size of the card. The valid options are <sky-code>large</sky-code> or <sky-code>small</sky-code>. The default is <sky-code>large</sky-code>.
    </li>
  </ul>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>

  <div class="stache-demo-page-result">
<sky-card>
  <sky-card-title>Large card</sky-card-title>
  <sky-card-content>
    This card demonstrates the amount of space that is available for a card that uses
    the default large size. If the content does not require this much space, you can
    set the card size to small. The type of content to display in the body of a card
    varies based on what the card represents and whether it prompts users to action.
    The content can consist of some combination of a graph, trend, status, summary
    information, and guidance text.
  </sky-card-content>
  <sky-card-actions>
    <a routerLink="/"><button class="sky-btn sky-btn-default">Click me</button></a>
  </sky-card-actions>
</sky-card>
<sky-card size="small">
  <sky-card-title>Small card</sky-card-title>
  <sky-card-content>
    This card demonstrates the reduced amount of space that is available when you
    set the card size to small. If the content requires additional space, you can
    use the default card size of large.
  </sky-card-content>
</sky-card>
<sky-card size="small">
  <sky-card-content>
    This card demonstrates a card with no title, just a body of content. However, you can use a different type of action button at the bottom that enable multiple links.
  </sky-card-content>
    <sky-card-actions>
    <sky-dropdown buttonType="context-menu">
      <sky-dropdown-menu>
      <sky-dropdown-item>
          <button type="button">
            <a routerLink="/">Action #1</a>
          </button>
        </sky-dropdown-item>
      <sky-dropdown-item>
          <button type="button">
            <a routerLink="/">Action #2</a>
          </button>
        </sky-dropdown-item>
      <sky-dropdown-item>
          <button type="button">
            <a href="https://www.google.com">Action #3</a>
          </button>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </sky-card-actions>
</sky-card>
  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>

  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab tabHeading="large card">
        <sky-code-block languageType="markup">
        <sky-card>
          <sky-card-title>Large card</sky-card-title>
          <sky-card-content>
            Card content
          </sky-card-content>
        </sky-card>
        </sky-code-block>
      </sky-tab>
      <sky-tab tabHeading="small card">
        <sky-code-block languageType="markup">
        <sky-card size="small">
          <sky-card-title>Small card</sky-card-title>
          <sky-card-content>
            Card content
          </sky-card-content>
        </sky-card>
        </sky-code-block>
      </sky-tab>
      <sky-tab tabHeading="action button">
        <sky-code-block languageType="markup">
        <sky-card>
          <sky-card-title>Large card</sky-card-title>
          <sky-card-content>
            Card content
          </sky-card-content>
          <sky-card-actions>
          <a routerLink="/components/"><button class="sky-btn sky-btn-default">Click me</button></a>
          </sky-card-actions>
        </sky-card>
        </sky-code-block>
      <p>This card provides an action button at the bottom.</p>
      </sky-tab>
      <sky-tab tabHeading="context menu">
        <sky-code-block languageType="markup">
        <sky-card size="small">
        <sky-card-title>Small card</sky-card-title>
        <sky-card-content>
          Card content
        </sky-card-content>
          <sky-card-actions>
            <sky-dropdown buttonType="context-menu">
              <sky-dropdown-menu>
                <sky-dropdown-item>
                  <button type="button">
                  <a routerLink="/">Action #1</a>
                  </button>
                </sky-dropdown-item>
                <sky-dropdown-item>
                  <button type="button">
                  <a routerLink="/">Action #2</a>
                  </button>
                </sky-dropdown-item>
                <sky-dropdown-item>
                  <button type="button">
                  <a href="https://www.google.com">Action #3</a>
                  </button>
                </sky-dropdown-item>
              </sky-dropdown-menu>
            </sky-dropdown>
          </sky-card-actions>
        </sky-card>
        </sky-code-block>
      <p>This card provides a menu at the bottom for multiple actions.</p>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
