<app-nav>
</app-nav>

<stache
  pageTitle="Affix top">

  <stache-page-summary>
    <p>
      The affix component is an Angular 2 component that causes the affected components to affix to the top of your browser window as you scroll past it on the page. It uses the <a routerLink="../../directives/affix-top">affix top directive</a> to add styles and the <stache-code>stache-affix-top</stache-code> class to wrapped elements or components.
    </p>
    <p>
      The affix top component is the recommended way to use the affix top feature. When an element affixes to the top of the window, an empty placeholder element is left behind, maintaining the page's size ratios.
    </p>
  </stache-page-summary>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>

  <div class="stache-demo-page-result">
    <stache-affix>
      <div>
        Affixes to the top of the page.
      </div>
    </stache-affix>
  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>

  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab
        tabHeading="affix-top.directive.ts">
        <stache-code-block
          languageType="markup">
            <stache-affix>
              <div>
                Affixes to the top of the page.
              </div>
            </stache-affix>
        </stache-code-block>
            <ul>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
              <li>
                Bullet list to extend the page for the demo
              </li>
            </ul>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
