<app-nav>
</app-nav>

<stache
  pageTitle="Affix Top">

  <stache-page-summary>
    <p>
      The affix component is an Angular 2 component that causes the affected components to affix to the top of your browser window as you scroll past it on the page. It makes use of the <a routerLink="../../directives/affix-top">Affix Top directive</a>, to add styles and the <stache-code>stache-affix-top</stache-code> class to your wrapped element or component.
    </p>
    <p>
      The component is the recommended way to use the affix top feature. When an element affixes to the top of the window, an empty place holder element is left behind, maintaining the pages size ratios.
    </p>
  </stache-page-summary>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>

  <div class="stache-demo-page-result">
    <stache-affix>
      <div>
        Affixes to the top of the page.
      </div>
    </stache-affix>
  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>

  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab
        tabHeading="affix-top.directive.ts">
        <stache-code-block
          languageType="markup">
            <stache-affix>
              <div>
                Affixes to the top of the page.
              </div>
            </stache-affix>
        </stache-code-block>
            <ul>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
              <li>
                extending the page
              </li>
            </ul>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
