<app-nav>
</app-nav>

<stache
  pageTitle="Nav">

  <stache-page-summary>
    <p>
      The Nav component handles and automates navigation and routing throughout a {{ stache.jsonData.global.productNameShort }} application.
    </p>

    <h3>
      Nav properties
    </h3>

    <ul>
      <li>
        <stache-code>routes</stache-code> — The routes that the nav component is responsible for. This property takes an array of <stache-code>stache-nav-link</stache-code> objects.
      </li>
      <li>
        <stache-code>navType</stache-code> — The type of nav being rendered by the nav component. The two available types are <stache-code>breadcrumbs</stache-code> and <stache-code>sidebar</stache-code>.
      </li>
    </ul>
  </stache-page-summary>

  <stache-page-anchor>
    Demo
  </stache-page-anchor>

  <div class="stache-demo-page-result">
    <stache-nav
      [routes]="[
        { name: 'Home', path: '/' },
        { name: 'Contribute', path: '/contribute' },
        { name: 'Components', path: '/contribute/components' },
        { name: 'Nav', path: '/contribute/components/nav' }
      ]"
      navType="breadcrumbs">
    </stache-nav>
  </div>

  <stache-page-anchor>
    Code
  </stache-page-anchor>

  <div class="stache-demo-code">
    <sky-tabset>
      <sky-tab
        tabHeading="nav-demo-component.html">
        <stache-code-block
          languageType="markup">
          <stache-nav
            [routes]="routes"
            navType="breadcrumbs">
          </stache-nav>
        </stache-code-block>
      </sky-tab>
      <sky-tab
        tabHeading="nav-demo-component.ts">
        <stache-code-block
          languageType="typescript">
          import { Component} from '@angular/core';

          @Component({
            selector: 'nav-demo-component',
            templateUrl: './nav-demo-component.html'
          })
          export class NavDemoComponent {
            public routes = [
              { name: 'Home', path: '/' },
              { name: 'Contribute', path: '/contribute' },
              { name: 'Components', path: '/contribute/components' },
              { name: 'Nav', path: '/contribute/components/nav' }
            ];
          }
        </stache-code-block>
      </sky-tab>
    </sky-tabset>
  </div>
</stache>
